body {
	background: #f4bbc8;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: midnightblue;
	text-align: center;
}
.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assign {
width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: ##ffb3ff;
    border-radius: 5px;
    box-shadow: 8px 8px #e97993;


	
}
.assign img {
	width: 200px;
	padding: 10px;
    border: 2px solid #e97993;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.assignment a:hover {
    color: #0d2332;
}

title {
    text-align: center;
    color: #1B4F72;
}
